.product{
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 350px;
}

.product .name, .product img {
    margin: 10px 0;
}

.product img {
    height: 250px;
    max-width: 100%;
}

.product p {
    font-size: 18px;
    font-weight: 500;
}

.product .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.product button {
    background-color: #1c59ae;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    max-width: 150px;
    padding: 7px 10px;
}

.productCard button:hover{
    background-color: #103f80;
  }

.productCard .remove {
    background-color: #ac0d14;
}

.productCard .remove:hover {
    background-color: #8e090f;
}